include redscope/features/migrations/migration_template.sql
include redscope/database/queries/migrations/ddl/*.sql
include redscope/database/queries/migrations/dml/*.sql
include redscope/database/queries/introspection/*.sql
